<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  <head>
    <title>Aerial Yerevan</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
  </head>
  <body a="{{ site.theme_config.appearance | default: "auto" }}">
      <img src="aerialyvn.jpg" alt="Aerial Yerevan">
  </body>
</html>
