<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aerial Yerevan</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: top;
            height: 100vh;
            background-color: #dac2e4;
        }
        img.ae {
	    width: 50%;
            max-width: 50%;
	    display: inline-block;
        }
    </style>
  </head>
  <body a="auto">
      <a href="https://www.instagram.com/aerial_yerevan/" target="_blank" style="text-align: center; vertical-align: top; padding-top: 5%; padding-bottop: 30%;"><img src="aerialyvn.jpg" class="ae" alt="Aerial Yerevan" /><br /><img style="align: top; display: inline-block; max-height: 40pt;" src="new-instagram-logo-glyph.svg" alt="" /></a>
  </body>
</html>
